{% extends 'main.html' %}

{% block content %}

<!-- Main Section -->
<main class="formPage my-xl">
    <div class="content-box">
        <div class="formWrapper">
            <a class="backButton" href="{% url 'account' %}"><i class="im im-angle-left"></i></a>
            <br>

            <form class="form" method="POST">

                {% csrf_token %}

                <h4 style="color: black;">Create/Update Skill</h4>

                <!-- FOR LOOP EACH FIELD FROM FORMS -->
                <div class="form__field">
                    {% for field in form %}
                    <label for="formInput#text">
                        {{ field.label }}
                    </label>
                    <div class="border-input-black">{{ field }}</div>
                    {% endfor %}
                </div>

                <input class="btn btn--sub btn--lg  my-md" type="submit" value="Add Skill" />
            </form>
        </div>
    </div>
</main>

{% endblock %}