{% extends 'main.html' %}

{% block content %}


<!-- Main Section -->
<main class="formPage my-xl">
    <div class="content-box">
        <div class="formWrapper">
            <h2>Password reset complete!</h2>
            <hr>
            <br>
            <h6>Your password has been set. You may go ahead and log in now.</h6>
            <br>
            <center>
                <a href="{% url 'login' %}"><button class="btn btn--main">Login</button></a>
            </center>
        </div>
    </div>
</main>

{% endblock content %}